{% if user %}
    {{user.username}}
{% else %}
    {{group.name}}
{% endif %}

{% if user %}
<form method='POST' action='?pg=members&amp;a=u&amp;u={{user.pk}}'>
{% else %}
<form method='POST' action='?pg=members&amp;a=g&amp;g={{group.pk}}'>
{% endif %}
<table>
{% for title, group in perms.items %}
    <tr><th colspan='2'>{{title}}</th></tr>
    {% for perm in group %}
        <tr>
            <td><input type="checkbox" name="{{perm.id}}" id="{{perm.id}}"/></td>
            <td><label for="{{perm.id}}">{{perm.name}}</label></td>
        </tr>
    {% endfor %}
{% endfor %}
</table>
<input type='submit' value='Change' />
</form>