{% if updated %}
    <b>Updated!</b> Your actions have taken effect
{% endif %}
<form enctype="multipart/form-data" method='POST' action="?pg=project">
<table>
{% for field in form.visible_fields %}
    <tr>
        <th>{{field.label_tag}}:</th>
        <td>
            {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                    {{hidden}}
                {% endfor %}
            {% endif %}
            {{field}}
            {{field.errors}}
        </td>
    </tr>
{% endfor %}
</table>
<input type='submit' text='Update'>
</form>