{% load eforge_user %}
<b>{{member}}</b>

{% if group %}
<form method='POST' action='?pg=members&amp;a=g&amp;g={{member.pk}}'>
{% else %}
<form method='POST' action='?pg=members&amp;a=u&amp;u={{member.pk}}'>
{% endif %}
<table>
{% for title, group in perms.items %}
    <tr><th colspan='2'>{{title}}</th></tr>
    {% for perm in group %}
        {% has_project_perm has_perm member project perm %}
        <tr>
            <td><input type="checkbox" name="{{perm.id}}" id="{{perm.id}}" {% if has_perm %}checked="checked"{% endif %}/></td>
            <td><label for="{{perm.id}}">{{perm.name}}</label></td>
        </tr>
    {% endfor %}
{% endfor %}
</table>
<input type='submit' value='Change' />
</form>