{% extends "theme.html" %}
{#
    This file is used to allow sites to make small overrides to the default
    theme without having to having to keep their modifications in sync with the
    EForge theme file.

    At present, you can control the theme by overriding the following blocks:
        sitehead:
            Place extra tags in the <head> block.
            An example use of this is the EForge EForge, where we use this to
            inject our single sign on JS for logged-out users

    Please suggest other blocks that could be useful on the bug tracker
#}